
 /*css de venansol la partie dédier a la page d'accueil*/







@font-face {

    font-family: 'coolveticaregular';

    src: url('coolvetica_rg-webfont.woff2') format('woff2'),

         url('coolvetica_rg-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}

h1{

    font-family: 'coolveticaregular'



}



  body {

    background-image: url('fond..png');

    

background-size: 100%;

background-repeat: repeat;

      position: relative; 

      margin-left: 50px;

      padding-right:50px

  }
  img{
      border-radius: 15px;
      overflow: hidden;

  }
.carousel .carousel-control {
  border-radius: 15px;
  overflow: hidden;
width:300px;
}
  #accueil{padding-top:50px;height:370px;color: black; background-color:#fff;}

  #coursindividuelle{padding-top:50px;height:350px;color: #fff; background-color: #7fc600;}

  #courscollectif {padding-top:50px;height:350px;color: #fff; background-color: #007539 ;}

  #section3 {padding-top:50px;height:350px;color: black; background-color: #00a71e;}

  #partenaire {padding-top:50px;height:650px;color: #fff; background-color: #0089c4;}

  #section42 {padding-top:50px;height:350px;color: #fff; background-color: #fccf00;}

  #contact {padding-top:50px;height:350px;color: #fff; background-color: #9d4500;}



.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.tales {
  width: 100%;
}
.carousel-inner{
  width:550px;
    height: 260px;

  max-height: 70000px !important;

}
