<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="JS/form.js"></script>
  <link rel="stylesheet" type="text/css" href="CSS/cssvenansol/form.css">

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top"  >

  <div class="container-fluid">

    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>                        

      </button>

      <a class="navbar-brand" href="#"> <img src="logobar3.png" width="150px">



      </a>

    </div>

    <div>

      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav navbar-right">

          <li><a href="venans.html">accueil</a></li>    
          <li><a href="lesprofesseurs.html">l'école</a></li>          

       
        </ul>

      </div>

    </div>

  </div>

</nav> <div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="active" id="login-form-link">adulte</a>
              </div>
              <div class="col-xs-6">
                <a href="#" id="register-form-link">enfant</a>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="login-form" action="https://phpoll.com/login/process" method="post" role="form" style="display: block;">
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="nom" value="">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="prenom" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="date de naissance">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="courriel">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="adresse">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="telephone">
                  </div>
                  
                                    <div class="form-group">
                  <h2>cours individuelle</h2>
                           <input type="radio" name="gender" value="male" checked> lorem ipsum<br>
                           <input type="radio" name="gender" value="female"> lorem ipsum<br>
                           <input type="radio" name="gender" value="other"> lorem ipsum
                  </div>
    
                  <div class="form-group">
                  <h2>cours collectif</h2>
                           <input type="radio" name="gender" value="male" checked> lorem ipsum<br>
                           <input type="radio" name="gender" value="female"> lorem ipsum<br>
                           <input type="radio" name="gender" value="other"> lorem ipsum
                  </div>
                                    <div class="form-group">
                  <h2>atelier</h2>
                           <input type="radio" name="gender" value="male" checked> lorem ipsum<br>
                           <input type="radio" name="gender" value="female"> lorem ipsum<br>
                           <input type="radio" name="gender" value="other"> lorem ipsum
                  </div>


                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="envoie">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">ou telercharger la fiche d'inscription</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <form id="register-form" action="https://phpoll.com/register/process" method="post" role="form" style="display: none;">
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="nom" value="">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="prenom" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="date de naissance">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="courriel">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="adresse">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="telephone">
                  </div>
                  
                                    <div class="form-group">
                  <h2>cours individuelle</h2>
                           <input type="radio" name="gender" value="male" checked> lorem ipsum<br>
                           <input type="radio" name="gender" value="female"> lorem ipsum<br>
                           <input type="radio" name="gender" value="other"> lorem ipsum
                  </div>
    
                  <div class="form-group">
                  <h2>cours collectif</h2>
                           <input type="radio" name="gender" value="male" checked> lorem ipsum<br>
                           <input type="radio" name="gender" value="female"> lorem ipsum<br>
                           <input type="radio" name="gender" value="other"> lorem ipsum
                  </div>
                                    <div class="form-group">
                  <h2>atelier</h2>
                           <input type="radio" name="gender" value="male" checked> lorem ipsum<br>
                           <input type="radio" name="gender" value="female"> lorem ipsum<br>
                           <input type="radio" name="gender" value="other"> lorem ipsum
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="responsable légal">
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="envoie">
                      </div>
                    </div>
                  </div>
                <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">ou telercharger la fiche d'inscription</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
